*{
    background-color: aliceblue;
}

h1{
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
}

img.playa{
    width: 300px;
    height: 250px;
}

img.aust{
    width: 300px;
    height: 250px;
}